.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 237, 237)
    /* background-image: linear-gradient(180deg, #3a1c7f, #d744d2); */
  }
  
  /* h1 {
    color: white;
  } */
  
  .form-container {
    width: 320px;
    padding: 40px;
    border: 1px solid #d1cdcd;
    border-radius: 5px;
    background-color: white;
    /* background-color: rgb(253, 245, 234); */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    /* font-weight: bold; */
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .register-button, .login-button {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .register-button {
    background-color: rgb(81, 81, 248);
  }

  .register-button:hover {
    background-color: darkblue;
  }
  
  .login-button:hover {
    background-color: #136c18;
  }
  
  
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
